<link rel="stylesheet" href="/assets/css/dracula.css">

<script type="module">
    import hljs from "https://esm.sh/highlight.js@11/es/core";
    import aria from "/assets/js/aria.js";

    hljs.registerLanguage("aria", aria);

    import bash from "https://esm.sh/highlight.js@11/es/languages/bash";
    hljs.registerLanguage("bash", bash);

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("pre code").forEach(el => hljs.highlightElement(el));
    });
</script>